.transfer-stuff {
    min-width: 400px;
    min-height: 400px;
}

.transfer-stuff .content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.transfer-stuff .content header {
    height: 28px;
    font-weight: bold;
    border: 1px solid var(--color-border-light-tertiary);
    background: rgba(0, 0, 0, 0.1);
    display: grid;
    align-content: space-evenly;
    font-size: 16px;
    padding: 0 0.5em;
    border-radius: 3px;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

.transfer-stuff .storages {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.transfer-stuff [data-action="collapse"] {
    cursor: pointer;
}

.transfer-stuff .storage {
    flex: 1;
    overflow: auto;
    transition: 200ms;
}

.transfer-stuff .collapsed + .storage {
    flex: 0;
    height: 0;
    overflow: hidden;
}

.transfer-stuff .content .storage .item {
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    border-radius: 4px;
    font-size: 1.1em;
    gap: 1em;
}

.transfer-stuff .content .storage .item:nth-child(2n-1) {
    background: #11643b21;
}

.transfer-stuff .content .item .item-details {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.transfer-stuff .content .item img {
    border: none;
    vertical-align: bottom;
    height: 1.3em;
}

.transfer-stuff .content .item .functions {
    display: flex;
    white-space: nowrap;
    gap: 1em;
    min-width: fit-content;
}

.transfer-stuff .content .item .current {
    max-width: 3em;
    text-align: center;
    height: 100%;
    border-radius: 6px;
}

.transfer-stuff .content .button-section {
    display: flex;
    border-top: 1px solid var(--color-border-light-tertiary);
}

.transfer-stuff [data-action="close"] {
    margin: 0.5em;
}

[name="flags.transfer-stuff.containerActorUuid"]::placeholder {
    font-style: italic;
}

.transfer-stuff .currency-content {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.transfer-stuff .currency-content > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.transfer-stuff .currency-content .item.currency {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
